body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #ffffff;
    color: #000000;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    padding:12px;
    border-radius: 18px;
}

header ul li a:hover{
    background-color: #2a2727;
}

#hero {
    text-align: center;
    padding: 4rem 1rem;
    background: #f4f4f4;
}

#cards {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}

.card-container{
    display: flex;
    gap: 5px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact {
    padding: 2rem 1rem;
    background: #f4f4f4;
    text-align: center;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #000000;
    color: #fff;
}
